<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm.mapper.ProductInfoMapper">
	<sql id="conditionSql">
	from productinfo
	<where>
			<if test="pname != null and pname != ''">
				pname like '%${pname}%'
			</if>
			<if test="pversion != null and pversion != ''">
				and pversion like '%${pversion}%'
			</if>
			<if test="batch != null and batch != ''">
				and batch like '%${batch}%'
			</if>
		</where>
	</sql>
	<select id="getProductInfoCondition" parameterType="map" resultType="ProductInfo">
		select * <include refid="conditionSql"></include>
	</select>
	<select id="getProductInfoConditionCount" parameterType="map" resultType="int">
		select count(*) <include refid="conditionSql"></include>
	</select>
</mapper>